#main{
display: flex;
flex-direction: column;
text-align: center;
margin: auto;
margin-top: 100px;
width: 300px;
font-size: 20px;
color: white;}

button{font-size: 15px;
background-color: #1D202B;
color: white;}
button:hover{background-color: rgba(136, 27, 128);}

body{background-color: #1D202B;}

label{margin-top: 10px;
margin-bottom: 10px;}